<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Microsoft Entra ID Django Web App Sample: Index</title>
</head>
<body>
    <h1>Microsoft Entra ID Django Web App Sample {{version}}</h1>
    <h2>Welcome {{ user.name }}!</h2>

    {% load static %}
    <img src="{% static 'topology.png' %}" alt="Topology">

    <ul>
    {% if downstream_api %}
      <li><a href='/call_downstream_api'>Call a downstream API</a></li>
    {% endif %}

    {% if edit_profile_url %}
      <li><a href='{{ edit_profile_url }}'>Edit Profile</a></li>
    {% endif %}

    <li><a href="{% url 'identity.django.logout' %}">Logout</a></li>
    </ul>
</body>
</html>

